body{
    background-color: #EC7272;
}


#priority{
    width: 80px !important;
    text-align: center;
}


#done-list{
    .todo-text{
    text-decoration: line-through;
    }
}


#add-btn{
    background-color: #a0af84 !important;
}


label.text-light{
    color: black;
}


#priority{
    appearance: none !important;
    border-color: #EC7272 !important;
}

#priority option{
    border-color: #EC7272 !important;
}


.fa-equals{
    color: orange;
}

.fa-angles-up{
    color: red;
}

.fa-angles-down{
    color: lightblue;
}
